log/*.log
log/*.pid
*~
db/*.bkp
coverage
tmp
test/log
log/test
\#*
.\#*
apple_report_*.xls
.DS_Store
.svn
db/deep_test*
*_flymake.*
db/*.sqlite3
public/system
public/p/*
config/*.sphinx.conf
db/*sphinx
log/*.pid
log/culerity_page_errors
public/culerity_page_errors
public/javascripts/all.js
public/stylesheets/all.css
public/images/upload
public/data
*.LCK
quotes/*
vendor/rails/activerecord/test/assets/example.log
vendor/rails/railties/configs/empty.log
public/stylesheets/compiled
test/fakeweb
.sass-cache
public/stylesheets/*.css
!public/stylesheets/scaffold.css
