[core]
	excludesfile = /Users/jason/.gitignore_global
	pager = less -FXRS -x2
[alias]
	st = status
	di = diff
	co = checkout
	ci = commit
	br = branch
	sta = stash
	llog = log --date=local
	flog = log --pretty=fuller --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	blog = log origin/master... --left-right
	ds = diff --staged
	fixup = commit --fixup
	squash = commit --squash
	unstage = reset HEAD
	rum = rebase master@{u}
[apply]
	whitespace = nowarn
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[branch]
	autosetupmerge = true
[rebase]
	autosquash = true
[push]
	default = simple
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
[commit]
	verbose = true
	template = ~/.gitmessage
[rerere]
	enabled = true
[include]
	path = .gitconfig.user_specific.inc
